
<section id="aboutUs" class="section">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2 class="titre">{{departement.nom}}</h2>
      <p></p>
    </div>

    <!-- Article 1 -->
    <div class="row feature design">
      <div class="col-lg-12">
        <div class="tabbable tabs-left onglet row">
          <ul class="nav nav-tabs col-lg-2">
            <li class="active"><a href="/#presentation" data-toggle="tab">Présentation du département</a></li>
            <li><a href="/#mcd" data-toggle="tab">Mot du Chef de département</a></li>
            <li><a href="/#cp" data-toggle="tab">Cours & Professeurs</a></li>
            <li><a href="/#lab" data-toggle="tab">Laboratoire</a></li>
            <li><a href="/#stat" data-toggle="tab">Statistiques</a></li>

          </ul>

          <div class="tab-content col-lg-10">
            <!--Présentation-->
            <div class="tab-pane active" id="presentation">
              <h4 class="">Présentation du {{departement.nom}}</h4>
              <div class="row">
                <div class="col-lg-9">
                  <p>{{departement.presentation}}</p>
                </div>
                <div class="col-lg-3">
                  <img src="images/{{departement.image}}" alt=""/>
                </div>
              </div>

            </div>

            <!--mot du chef de departement-->
            <div class="tab-pane" id="mcd">
              <h4 class="">Mot du Chef de Département</h4>
              <div class="row">
                <div class="col-lg-9">
                  <p><span class="italic">{{departement.chefDepartement.grade}}.</span> <span class="bold"> {{departement.chefDepartement.prenom}} {{departement.chefDepartement.nom}}</span></p>
                  <blockquote style="font-style: italic">
                    <span class="fa fa-quote-left"></span>
                    {{departement.chefDepartement.mot}}
                    <span class="fa fa-quote-right"></span>.
                  </blockquote>
                </div>
                <div class="col-lg-3">
                  <img src="images/{{departement.chefDepartement.image}}" alt=""/>
                </div>
              </div>
            </div>

            <!--cours et professeur-->
            <div class="tab-pane" id="cp">
              <h4>Cours et Professeurs</h4>
              <h5>Cours</h5>
              <div class="row">
                <div class="col-lg-4" ng-repeat="c in departement.cours">
                  <h6>Niveau {{c.niveau}}</h6>
                  Semestre 1
                  <ul class="nav nav-bar">
                    <li ng-repeat="ue in c.semestres[0].UEs"><a href="">{{ue.intitule}}</a></li>
                  </ul>
                  semestre 2
                  <ul class="nav nav-bar">
                    <li ng-repeat="ue in c.semestres[1].UEs"><a href="">{{ue.intitule}}</a></li>
                  </ul>
                </div>
              </div>
              <ul class="nav nav-bar">
                <li ng-repeat="c in departement.cours"><a href="#/cours/{{c.id}}">{{c.intitule}}</a></li>
              </ul>

              <h5>Professeurs</h5>
              <div class="row actu-container">
                <div class="col-lg-4 col-sm-4 col-xs-4" ng-repeat="p in departement.professeurs |filter:searchKey | orderBy : '-nom' : true | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                  <div class="actu row">
                    <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                      <img src="images/{{p.image}}" alt=""/>
                    </div>
                    <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                      <h3>{{p.prenom}} {{p.nom}}</h3>
                      <p>{{p.grade}}.</p>
                      <a href="#/professeur/{{a.idActualite}}">Voir le profil</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--laboratoire-->
            <div class="tab-pane" id="labs">Tous les livres policiers</div>

            <!--statistique-->
            <div class="tab-pane" id=stat">Tous les romans</div>
          </div>
        </div>
      </div>


    </div>



    <div class="row dataTxt hide">
      <div class="col-md-4 col-sm-6">

        <h3>Elément à télécharger</h3>
        <p>Description</p>
        <ul class="listArrow">
          <li><a href="/#/accueil">Lien 1</a></li>
          <li><a href="">Lien 1</a></li>
        </ul>
        <!-- Accordion starts -->
      </div>

      <div class="col-md-4 col-sm-6">

        <h3>Dernieres actualité</h3>
        <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
        <ul  class="list3">
          <li ng-repeat="n in [1,2,3]"><a href="">Actu {{n}}</a></li>
          <li><a href="">Plus d'actualité</a></li>
        </ul>

        <!-- Accordion starts -->
      </div>

    </div>
  </div>
</section>

<script>$(".fancybox .qsd").click(function(r){
  r.preventDefault()
  $(this).fancybox();
})</script>