
<section id="main-section" class="section">
  <div class="container">
    <div class="heading text-center" style="margin-left: -25px;margin-right: -25px; background: #eee">
      <!-- Heading -->
      <h2 class="titre">Nos départements</h2>
    </div>

    <!-- Article 1 -->
    <div class="row feature design" ng-repeat="d in departements">
      <div class="col-lg-12">
        <div class="col-lg-3">
          <img src="images/{{d.image[0]}}" alt="departement"/>
        </div>
        <div class="col-lg-9">
          <h3><a href="#/departement/{{d.idDepartement}}">{{d.nom}}</a></h3>
          <span class="bold">Chef de departement</span> : <a href="#/enseignant/{{d.chefDepartement.id}}"><span class="italic">{{d.chefDepartement.grade}}.</span> <span class="bold">{{d.chefDepartement.prenom}} {{d.chefDepartement.nom}}</span></a>
          <p>{{d.presentation | limitTo : 200}} ...</p>
        </div>
      </div>
    </div>





  </div>
</section>
