<section class="main-section section" autoscroll="true">
    <div class="container">
        <div class="heading text-center" style="margin-left: -25px;margin-right: -25px;">
            <!-- Heading -->
            <h2 class="titre">Organisation</h2>
        </div>

        <!-- Article 1 -->
        <div class="s feature design">
            <h5>Organisation de l'Ecole Nationale Supérieure Polytechnique</h5>

            <div ng-repeat="o in organisations | orderBy :-rang" class="col-lg-{{o.rang}} col-sm-{{o.rang}} col-xs-{{o.rang}}">
                <h5>{{o.categorie}}</h5>
                <div class="col-lg-12" ng-repeat="p in o.membre">
                    <p><span class="bold">{{p.poste}}</span> <a href="#/personnel/{{p.prenom}}_{{p.nom}}">{{p.prenom}} {{p.nom}}</a></p>
                </div>

            </div>


        </div>

    </div>
</section>