<section class="main-section section partenaire">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">{{partenaire.denomination}}</h2>
            <p></p>
        </div>

        <!-- Article 1 -->
        <div class="row feature design">
            <div class="col-lg-12 col-xs-12 col-md-12">
                <p class="ancre">
                    <a ui-sref="liste-partenaire">Nos partenaires </a>> {{partenaire.denomination}}
                </p>
            </div>
            <hr/>
            <div class="col-lg-9 col-sm-9 col-xs-9 columns left">
                <div class="row">
                    <div class="col-lg-6"><span class="bold">Slogan : </span>  <span class="italic" ng-bind-html="partenaire.slogan"></span></div>
                    <div class="col-lg-6"><span class="bold">Sigle : </span>  <span class="italic" ng-bind-html="partenaire.sigle"></span></div>
                    <div class="col-lg-6"><span class="bold">Raison sociale : </span>  <span class="italic" ng-bind-html="partenaire.raisonSociale"></span></div>
                    <div class="col-lg-6"><span class="bold">Site web : </span>  <a href="{{partenaire.site}}">{{partenaire.denomination}}</a></div>
                </div>
                <h5>Présentation</h5>
                <p style="margin-bottom: 20px;" ng-bind-html="partenaire.description"></p>

            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3 columns feature-media right">
                <div class="col-lg-12">
                    <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                        style="position: relative; height: auto;">
                        <li class="item web">
                            <figure class="effect-bubba">
                                <img src="images/{{partenaire.image}}" alt="img02"/>
                                <figcaption>
                                    <h2>{{partenaire.titre}}</h2>
                                    <a href="images/{{partenaire.image}}" class="fancybox">Afficher</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
