body{
    background: white;
}

header{
    border-bottom: 3px solid #F97D2F;
}

footer{
    background: #eee;
    padding: 20px 0px;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: none !important;
}

/**** Couleur ****/
.orange-bg{
    background: #F97D2F;
}

.orange{
    color:#F97D2F;
}

.noir-bg{
    background: #000;
}

.noir{
    color:#000;
}

/**** fin couleur ****/

.section{
    margin-top:70px;
    /*background: #e9e9e9;*/
}

.section .area1{
    padding-left: 10px;
}

.section .container{
    padding-left: 25px;
    padding-right: 25px;
    background: #fff;
    padding-bottom: 25px;
}

.logo-ensp{
    max-width: 12%;
}

/** Menu deroulant **/

.menu{

}

.menu li{
    margin: 5px 0px;
}

.menu li a{
    color:white;
}

.menu .dropdown-menu li a:hover{
    text-decoration:underline;
}


/******Fin Menu****/
.publication a.titre{
    padding: 0px !important;
}

.publication .area2 span{
    font-weight: bold;
}

.publication hr{
    margin-bottom: 0px;
}

.titre{
    text-transform: uppercase;
    padding: 20px !important;
    margin-top: 0px;
}

/*#agenda .titre{*/
    /*border-top: 1px solid rgba(8, 7, 7, 0.15);*/
    /*padding-top: 20px ;*/
/*}*/

.pub{
    padding: 10px;
}

.pub span{
    font-weight: bold;
}

textarea{
    resize: vertical;
}

.ul-li li{
    display: inline-block;
}

.are1{
    width: 70% !important;
    padding-right: 0px !important;
    padding-left: 22px;
}

.are2{
    width: 30% !important;
    padding-right: 22px !important;
    padding-left: 0px;
}

/**** Actualit� ****/
.actu{

    margin: 15px 0px;
}

.actu-plus{
    background: #F97D2F;
    color: #fff;
    padding: 4px 10px;
    border-radius: 0px 0px 5px 5px;
}

/*.actu-plus:hover{*/
    /*color: #F97D2F;*/
/*}*/

.actu-container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0px;
}

.actu h3{
    text-transform: none;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
}

.actu-detail, .actu-image{
    padding-left: 2px;
}

.actu-detail p{
    margin-bottom: 0px !important;
    font-size: 13px;
}

.actu-detail a, .timeline-footer a{
    text-decoration: underline;
}

.actu-detail a:hover, .timeline-footer a:hover{
    text-transform: none;
    color:#F97D2F !important;
}

/*** Search ***/
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: transparent;
    width: 100%;
    border-bottom: 1px solid #F97D2F;
    background: rgba(0,0,0,0.2);

}
.search-form .form-group input.form-control {
    padding-left: 30px !important;
    border: 0 none;
    width: 100%;
    background: transparent;
    box-shadow: none;
    display:block;
    color: white;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group:focus,
.search-form .form-group.hover {
    width: 100%;
    border-bottom: 1px solid #F97D2F;
    background: rgba(0,0,0,0.2);
}
.search-form .form-group span.form-control-feedback {
    position: relative;
    top: -46px;
    left: 1px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    left: initial;
    font-size: 18px;
}

/***** Onglet ************/
.onglet{

}

.onglet .nav > li > a{
    padding: 7px 15px;
}

.onglet a{

}

.onglet a:hover{
    color: #F97D2F !important;
}

.carousel-caption {
    top:auto;
    width:auto;
    bottom:60px;
    padding: 0 10px;
    background:rgba(0,0,0,0.70);
    text-align:left;
    height:auto;

}

p.caption{
    color: #FFF;
    font-size: 17px;
    line-height: 20px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.test-sh{
    box-shadow: 0px 11px 12px #818181;
    background: #EEE none repeat scroll 0% 0%;
}

.test-sh1{
    background: #EEE none repeat scroll 0% 0%;
    color: #F97D2F !important;
    border-bottom: 3px solid #F97D2F;
    padding: 10px !important;
    border-top-color: transparent !important;
;
}

header a:hover{
    color:#F97D2F;
}

.cours{
    background: #eee;
    margin: 0 14px;
}

.cours h6{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
    background: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

.main-section {
    background: url('../images/min/ensp/ensp-bg.png') no-repeat;
    background-size: cover;
    padding-top: 18px;
}

.main-section .container{
    box-shadow: 1px 0px 13px rgba(0, 0, 0, 0.3);
}

.main-section h2.titre{
    background: rgba(0,0,0,0.3);
    color: white;
}

.main-section .heading{
    padding: 0px;
    margin-left: -25px;
    margin-right: -25px;
    background-size: cover;
    margin-bottom: 0px;
}

.main-section h5{
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 7px;
    margin-top: 15px;
}

.informatique .heading{
    background: url("../images/min/banniere_accueil.jpg") no-repeat;
    background-size: cover;
}

.no-link{
    color:#000;
    cursor: default;
}

.no-link:hover{
    text-decoration: none;
    color:#000 !important;
}

a.accordion{
    margin: 10px auto;
}

.highcharts-button{
    display: none;
}

.dropdown-menu{
    width: 700px !important;
    margin-top: 7px !important;
    border-bottom: 1px solid #F97D2F;
}

#aboutUs .heading, .main-section .heading{
    background: url('../images/min/ensp/baniere.jpg') no-repeat !important;
    background-size: cover !important;
}


#personnel .actu{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.table td p{
    color: rgba(0, 0, 0, 0.58);
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(249, 125, 47, 0.15) !important;
}

span.detail{
    font-weight: bold;
    font-style: italic;
    color:#F97D2F;
}

#concours .circle{
    color: #453838;
}

#concours .box-item h4{
    padding-bottom: 10px;
}

caption .form-control{
    display: inline-block;
}

.ancre{
    border-left: 5px solid rgb(249, 125, 47);
    padding-left: 5px;
}
.table tr,
.table td{
    cursor: pointer;
}

.main-section .dropdown-menu{
    width:auto !important;
    background: white;
    color: rgb(249, 125, 47);
    position: relative;
    margin-top: 0 !important;
    border-top: 1px solid transparent;
}

.main-section .dropdown-menu .active,{
    border-width: 1px;
    border-style: solid;
    border-color: #F97D2F transparent;
}

.main-section .dropdown-menu>li>a:hover{
    background: transparent;
}

.caret{
    border-top-color: #F97D2F !important;
    border-bottom-color:#F97D2F !important;
}

.pagination > .active > a,
.pagination > .active > a:focus{
    background: #F97D2F;
    border-color: #F97D2F;
}

input:focus{
    box-shadow: red;
}

.item-departement{
    border-bottom: 2px solid #EEE;
    padding: 16px 0px;
    margin-bottom: 5px;
}

.item-departement img{
    min-height: 100px;
    max-height: 200px;
}

.item-departement h3{
    margin-top: 5px;
}

#cp ul li a.no-link{
    padding: 0px 5px !important;
    font-size: 13px;
}

.carousel-inner .item img{
    max-height: 655px !important;
    width: 100%;
}

header span strong{
    font-size: 18px;
    color: #F97D2F;
}

/*.main-section .container{*/
    /*min-height: 500px;*/
/*}*/

/*.copyright{*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*padding: 2px 0px;*/
/*}*/