body{
    background: white;
}

header{
    border-bottom: 3px solid #F97D2F;
}

footer{
    background: #eee;
    padding: 20px 0px;
}

/**** Couleur ****/
.orange-bg{
    background: #F97D2F;
}

.orange{
    color:#F97D2F;
}

.noir-bg{
    background: #000;
}

.noir{
    color:#000;
}

/**** fin couleur ****/

.section{
    margin-top:70px;
    /*background: #e9e9e9;*/
}

.section .area1{
    padding-left: 10px;
}

.section .container{
    padding-left: 25px;
    padding-right: 25px;
    background: #fff;
    padding-bottom: 25px;
}

.logo-ensp{
    max-width: 12%;
}

/** Menu deroulant **/

.menu{

}

.menu li{
    margin: 5px 0px;
}

.menu li a{
    color:white;
}

.menu .dropdown-menu li a:hover{
    text-decoration:underline;
}


/******Fin Menu****/
.publication .area1{
    width: 70%;
}

.publication .area2{
    width: 30%;
    margin-top: 20px;
    padding: 20px 10px !important;
}

.publication .area2, .publication .liste-auteur{
    background: #F5F5F5;
    box-shadow: 0px 1px 5px #E9E9E9;
    color:black;
}

.publication .area2 span{
    font-weight: bold;
}

.titre{
    text-transform: uppercase;
    padding: 20px !important;
    margin-top: 0px;
}

/*#agenda .titre{*/
    /*border-top: 1px solid rgba(8, 7, 7, 0.15);*/
    /*padding-top: 20px ;*/
/*}*/

.pub{
    padding: 10px;
    margin-bottom: 5px;
}

.pub span{
    font-weight: bold;
}

textarea{
    resize: vertical;
}

.ul-li li{
    display: inline-block;
}

.are1{
    width: 70% !important;
    padding-right: 0px !important;
    padding-left: 22px;
}

.are2{
    width: 30% !important;
    padding-right: 22px !important;
    padding-left: 0px;
}

/**** Actualité ****/
.actu{

    margin: 15px 0px;
}

.actu-plus{
    background: #F97D2F;
    color: #fff;
    padding: 4px 10px;
    border-radius: 0px 0px 5px 5px;
}

/*.actu-plus:hover{*/
    /*color: #F97D2F;*/
/*}*/

.actu-container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0px;
}

.actu h3{
    text-transform: none;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
}

.actu-detail, .actu-image{
    padding-left: 2px;
}

.actu-detail p{
    margin-bottom: 0px !important;
    font-size: 13px;
}

.actu-detail a, .timeline-footer a{
    text-decoration: underline;
}

.actu-detail a:hover, .timeline-footer a:hover{
    text-transform: none;
    color:#F97D2F !important;
}

/*** Search ***/
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: transparent;

}
.search-form .form-group input.form-control {
    padding-left: 30px !important;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
    color: white;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-bottom: 1px solid #F97D2F;
    background: rgba(0,0,0,0.2);
}
.search-form .form-group span.form-control-feedback {
    position: relative;
    top: -46px;
    left: 1px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    left: initial;
    font-size: 18px;
}

/***** Onglet ************/
.onglet{

}

.onglet .nav > li > a{
    padding: 7px 15px;
}

.onglet a{

}

.onglet a:hover{
    color: #F97D2F !important;
}

.carousel-caption {
    top:auto;
    width:auto;
    bottom:60px;
    padding: 0 10px;
    background:rgba(0,0,0,0.70);
    text-align:left;
    height:auto;

}

p.caption{
    color: #FFF;
    font-size: 17px;
    line-height: 20px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.test-sh{
    box-shadow: 0px 11px 12px #818181;
    background: #EEE none repeat scroll 0% 0%;
}

.test-sh1{
    background: #EEE none repeat scroll 0% 0%;
    color: #F97D2F !important;
    border-bottom: 3px solid #F97D2F;
    padding: 10px !important;
    border-top-color: transparent !important;
;
}

header a:hover{
    color:#F97D2F;
}

.cours{
    background: #eee;
    margin: 0 14px;
}

.cours h6{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
    background: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

#departement{
    padding-top: 25px;
}

#departement .container{
    box-shadow: 1px 0px 13px rgba(0, 0, 0, 0.3);
}

#departement .heading{
    padding: 0px;
}

#departement h5{
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 4px;
}

.informatique h2.titre{
    background: url("../images/banniere_accueil.jpg") no-repeat;
    background-size: cover;
    color:white;
}

.no-link{
    color:#000;
    cursor: default;
}

.no-link:hover{
    text-decoration: none;
    color:#000 !important;
}

a.accordion{
    margin: 10px auto;
}

.highcharts-button{
    display: none;
}