
<section id="" class="main-section section publication" autoscroll="true">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">Publications</h2>
            <p></p>
        </div>

        <!-- Article 1 -->
        <div class="row feature design">
            <div class="col-lg-3 columns feature-media liste-auteur">
                <div class="col-lg-12">
                    <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                        style="position: relative; height: auto;">
                        <div ncy-breadcrumb></div>
                        <h4>Filtre</h4>
                        <div style="max-height:400px; overflow-y: scroll" >

                        </div>
                        <hr/>
                        <li ng-show="all"><a ui-sref="liste-publication">Afficher tout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 columns">
                <div class="">
                    <input  class="form-control" style="width: 75%; float:left" type="text" ng-model="searchKey" class="form-control" placeholder="Entrer un mot-clé"/>
                    <input class="form-control" style="width: 20%; float: right" type="number" placeholder="Nombre à afficher"  ng-model="par_page"/>
                </div>
                <div class="row pub"  dir-paginate="p in publications |filter:searchKey | orderBy : '-auteur' : true| itemsPerPage: par_page "  >
                    <a class="titre" ui-sref="publication({titre:p.titre})">{{p.titre}}</a>
                    <p class="contenu">{{p.description}}.</p>
                    <div class="row">
                        <div class="col-lg-6"><span>Auteur : </span>{{p.auteur}}</div>
                        <div class="col-lg-6"><span>Publié le : </span>{{p.datePublication}}</div>
                    </div>
                    <hr/>
                </div>
                <div class="text-center" >
                    <dir-pagination-controls></dir-pagination-controls>
                </div>


            </div>

        </div>

    </div>
</section>
