<section class="main-section section" id="concours" autoscroll="true">
    <div class="container">
        <div class="heading text-center" style="margin-left: -25px;margin-right: -25px;">
            <!-- Heading -->
            <h2 class="titre">Concours</h2>
        </div>

        <!-- Article 1 -->
        <div class="row feature design" ng-repeat="c in concours">
            <div class="col-lg-12">
                <h3 class="titre">niveau {{c.niveau}}</h3>
            </div>

            <div class="col-lg-12 col-sm-12 col-xs-12">
                <a href="{{c.arrete}}" class="col-lg-20 col-sm-20 col-xs-20 col-md-20 text-center">
                    <div class="box-item">
                        <i class="circle fa fa-file-pdf-o fa-5x"></i>
                        <h4>Communiqué</h4>
                    </div>
                </a>
                <a ng-click="listePiece(c)" class="col-lg-20 col-sm-20 col-xs-20 col-md-20 text-center">
                    <div class="box-item">
                        <i class="circle fa fa-file-pdf-o fa-5x"></i>
                        <h4>Pièces Requises</h4>
                    </div>
                </a>
                <a ui-sref="notice({niveau:c.niveau})" class="col-lg-20 col-sm-20 col-xs-20 col-md-20 text-center">
                    <div class="box-item">
                        <i class="circle fa fa-info fa-5x"></i>
                        <h4>Notice</h4>
                    </div>
                </a>
                <a ui-sref="formulaire-concours-niveau-{{c.niveau}}({action:inscription})" class="col-lg-20 col-sm-20 col-xs-20 col-md-20 text-center">
                    <div class="box-item">
                        <i class="circle fa fa-plus fa-5x"></i>
                        <h4>Inscription</h4>
                    </div>
                </a>
                <a ui-sref="liste-candidat({niveau:c.niveau})" class="col-lg-20 col-sm-20 col-xs-20 col-md-20 text-center">
                    <div class="box-item">
                        <i class="circle fa fa-list fa-5x"></i>
                        <h4>Liste Candidats</h4>
                    </div>
                </a>
            </div>
        </div>





    </div>
</section>


<div class="modal hide fade" id="pieceModal">
    <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
        <h3>Conocurs niveau {{niveau}} : Pièce à fournir</h3>
    </div>
    <div class="modal-body">

        <div class="col-lg-12">
            <ul class="nav">
                <li ng-repeat="p in pieces"><i class="fa fa-chevron-right"></i> {{p}}</li>
            </ul>
        </div>

    </div>
    <div class="modal-footer">
        <a class="btn btn-link" data-dismiss="modal">Fermer</a>
    </div>
</div>

<a href="#pieceModal" class="hide" data-toggle="modal" id="detail"></a>