<section class="main-section section" id="concours" autoscroll="true">
    <div class="container">
        <div class="heading text-center" style="margin-left: -25px;margin-right: -25px;">
            <!-- Heading -->
            <h2 class="titre">{{titre}}</h2>
        </div>

        <!-- Article 1 -->
        <div class="s feature design">

            <p class="ancre">
                <a ui-sref="concours">Concours niveau 1 </a>> Inscription
            </p>
            <div class="col-lg-9 col-sm-9 col-xs-9">


                <form action="" ng-submit="EnregistrerCandidat(candidat)" name="concoursForm" novalidate>
                    <h5>Informations personnelles</h5>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.name.$touched && concoursForm.name.$invalid }">
                        <label for="nom">Nom(s)</label>
                        <input class="form-control"
                               ng-model="candidat.nom"
                               id="nom"
                               name="nom"
                               placeholder="Entrer votre nom tel que sur l'acte de naissance"
                               title="Entrer votre nom tel que sur l'acte de naissance"
                               type="text"
                                required>
                        <div class="help-block" ng-show="concoursForm.nom.$touched" ng-messages="concoursForm.nom.$error">
                            <p ng-message="required">Le nom du candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom(s)</label>
                        <input class="form-control" ng-model="candidat.prenom" id="prenom"
                               placeholder="Entrer votre prénom tel que sur l'acte de naissance"
                               title="Entrer votre prénom tel que sur l'acte de naissance"
                               type="text">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.dateNaissance.$touched && concoursForm.dateNaissance.$invalid }">
                        <label for="dateNaissance">Date de naissance</label>
                        <input class="form-control"
                               ng-model="candidat.dateNaissance"
                               id="dateNaissance"
                               name="dateNaissance"
                               placeholder="Entrer votre date de naissance telle que sur l'acte de naissance"
                               title="Entrer votre date de naissance telle que sur l'acte de naissance"
                               type="date"
                               max="{{minDate | date:'yyyy-MM-dd'}}"
                               min="1980-12-31"
                                required>
                        <div class="help-block" ng-show="concoursForm.dateNaissance.$touched" ng-messages="concoursForm.dateNaissance.$error">
                            <p ng-message="min">Vous êtes trop jeune</p>
                            <p ng-message="max">Vous êtes trop vieux</p>
                            <p ng-message="required">La date de naissance du candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.lieuNaissance.$touched && concoursForm.lieuNaissance.$invalid }">
                        <label for="lieuNaissance">Lieu de naissance</label>
                        <input class="form-control"
                               name="lieuNaissance"
                               ng-model="candidat.lieuNaissance"
                               id="lieuNaissance"
                               placeholder="Entrer votre lieu de naissance telle que sur l'acte de naissance"
                               title="Entrer votre lieu de naissance telle que sur l'acte de naissance"
                               type="text"
                                required>
                        <div class="help-block" ng-show="concoursForm.lieuNaissance.$touched" ng-messages="concoursForm.lieuNaissance.$error">
                            <p ng-message="required">Le lieu de naissance du candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.nationalite.$touched && concoursForm.nationalite.$invalid }">
                        <label for="nationalite">Nationalité</label>
                        <select class="form-control"
                                name="nationalite"
                                ng-model="candidat.nationalite"
                                id="nationalite"
                                required>
                            <option value="CM">Cameroun</option>
                            <option value="CO">Congo</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.nationalite.$touched" ng-messages="concoursForm.nationalite.$error">
                            <p ng-message="required">Le nationalité du candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': concoursForm.region.$touched && concoursForm.region.$invalid }"ng-show="concoursForm.region.$touched">
                        <label for="region">Region d'origine</label>
                        <select class="form-control"
                                name="region"
                                ng-model="candidat.region"
                                id="region"
                                required>
                            <option value="CM">Ouest</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.nationalite.$touched" ng-messages="concoursForm.nationalite.$error">
                            <p ng-message="required">La region du candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.departement.$touched && concoursForm.departement.$invalid }">
                        <label for="departement">Département d'origine</label>
                        <select class="form-control"
                                name="departement"
                                ng-model="candidat.departement"
                                id="departement"
                                required>
                            <option value="CM">Mifi</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.departement.$touched" ng-messages="concoursForm.departement.$error">
                            <p ng-message="required">La departement du candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.departementPere.$touched && concoursForm.departementPere.$invalid }">
                        <label for="departementPere">Departement du père</label>
                        <select class="form-control"
                                name="departementPere"
                                ng-model="candidat.departementPere"
                                id="departementPere"
                                required>
                            <option value="CM">Cameroun</option>
                            <option value="CO">Congo</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.departementPere.$touched" ng-messages="concoursForm.departementPere.$error">
                            <p ng-message="required">La departement du pere du  candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': concoursForm.sexe.$touched && concoursForm.sexe.$invalid }">
                        <label for="sexe">Sexe</label>
                        <select class="form-control"
                                name="sexe"
                                ng-model="candidat.sexe"
                                id="sexe"
                                required>
                            <option value="F">Féminin</option>
                            <option value="M">Masculin</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.sexe.$touched" ng-messages="concoursForm.sexe.$error">
                            <p ng-message="required">Le sexe du  candidat est requit</p>
                        </div>
                    </div>
                    <h5>Adresse</h5>
                    <div class="form-group"  ng-class="{ 'has-error': concoursForm.email.$touched && concoursForm.email.$invalid }">
                        <label for="email">Email</label>
                        <input class="form-control"
                               ng-model="candidat.email"
                               name="email"
                               id="email"
                               placeholder="Entrer votre boîte mail"
                               title="Entrer votre boîte mail"
                               type="email"
                                required>
                        <div class="help-block" ng-show="concoursForm.email.$touched" ng-messages="concoursForm.email.$error">
                            <p ng-message="required">L email du  candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.telephone.$touched && concoursForm.telephone.$invalid }">
                        <label for="telephone">Téléphone</label>
                        <input class="form-control"
                               ng-model="candidat.telephone"
                               id="telephone"
                               name="telephone"
                               placeholder="Entrer votre numéro de téléphone"
                               title="Entrer votre numéro de téléphone"
                               type="number"
                                required
                               ng-minlength="9"
                               ng-maxlength="20">
                        <div class="help-block" ng-show="concoursForm.telephone.$touched" ng-messages="concoursForm.telephone.$error">
                            <p ng-message="required">Le telephone du  candidat est requit</p>
                            <p ng-message="minlength">Le numero specifie est trop court</p>
                            <p ng-message="maxlength">Le numero  specifie est trop long</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.adresse.$touched && concoursForm.adresse.$invalid }">
                        <label for="adresse">Adresse</label>
                        <input class="form-control"
                               name="adresse"
                               ng-model="candidat.adresse"
                               id="adresse"
                               placeholder="Entrer votre adresse"
                               title="Entrer votre adresse"
                               type="text"
                                required>
                        <div class="help-block" ng-show="concoursForm.adresse.$touched" ng-messages="concoursForm.adresse.$error">
                            <p ng-message="required">L adresse du  candidat est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.ville.$touched && concoursForm.ville.$invalid }">
                        <label for="ville">Ville</label>
                        <input class="form-control"
                               ng-model="candidat.ville"
                               id="ville"
                               name="ville"
                               placeholder="Entrer votre ville de residence"
                               title="Entrer votre ville de residence"
                               type="text"
                                required>
                        <div class="help-block" ng-show="concoursForm.ville.$touched" ng-messages="concoursForm.ville.$error">
                            <p ng-message="required">La ville du  candidat est requit</p>
                        </div>
                    </div>
                    <h5>Carte nationale d'identité (CNI)</h5>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.numCNI.$touched && concoursForm.numCNI.$invalid }">
                        <label for="numCNI">Numéro de le CNI</label>
                        <input class="form-control"
                               ng-model="candidat.numeroCNI"
                               id="numCNI"
                               name="numCNI"
                               placeholder="Entrer votre numéro de CNI"
                               title="Entrer votre numéro de CNI"
                               type="number"
                               ng-minlength="9"
                               ng-maxlength="20"
                                required>
                        <div class="help-block" ng-show="concoursForm.numCNI.$touched" ng-messages="concoursForm.numCNI.$error">
                            <p ng-message="required">Le numero de la CNI du  candidat est requit</p>
                            <p ng-message="minlength">La longeur de la CNI est trop courte</p>
                            <p ng-message="maxlength">La longeur de la CNI de specifie est trop long</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.dateCNI.$touched && concoursForm.dateCNI.$invalid }">
                        <label for="dateCNI">Date de délivrance de la CNI</label>
                        <input class="form-control"
                               ng-model="candidat.dateCNI"
                               id="dateCNI"
                               name="dateCNI"
                               placeholder="Entrer la date délivrance de votre CNI"
                               title="Entrer la date délivrance de votre CNI"
                               type="date"
                               min="2005-12-31"
                               required>
                        <div class="help-block" ng-show="concoursForm.dateCNI.$touched" ng-messages="concoursForm.dateCNI.$error">
                            <p ng-message="min">Votre carte est perime</p>
                            <p ng-message="required">La date de peremption de votre carte est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.lieuCNI.$touched && concoursForm.lieuCNI.$invalid }">
                        <label for="dateCNI">Lieu de délivrance de la CNI</label>
                        <input class="form-control"
                               ng-model="candidat.lieuCNI"
                               id="lieuCNI"
                               name="lieuCNI"
                               placeholder="Entrer le lieu de délivrance de votre CNI"
                               title="Entrer le lieu de  délivrance de votre CNI"
                               type="date">
                        <div class="help-block" ng-show="concoursForm.lieuCNI.$touched" ng-messages="concoursForm.ville.$error">
                            <p ng-message="required">Le lieu de delivrance est requit</p>
                        </div>
                    </div>
                    <h5>Concours</h5>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.centre.$touched && concoursForm.centre.$invalid }">
                        <label for="centre">Centre d'examen</label>
                        <select class="form-control"
                                ng-model="candidat.centre"
                                id="centre"
                                name="centre"
                                required>
                            <option value="F">Français</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.centre.$touched" ng-messages="concoursForm.centre.$error">
                            <p ng-message="required">Le centre d'examen est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.langue.$touched && concoursForm.langue.$invalid }">
                        <label for="langue">Langue de composition</label>
                        <select class="form-control"
                                ng-model="candidat.langue"
                                id="langue"
                                name="langue">
                            <option value="A">English</option>
                            <option value="F">Français</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.langue.$touched" ng-messages="concoursForm.langue.$error">
                            <p ng-message="required">La langue de composition de l'examen est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.nombre.$touched && concoursForm.nombre.$invalid }">
                        <label for="nombre">Nombre d'examen tenté</label>
                        <input class="form-control"
                               ng-model="candidat.nombreExamen"
                               id="nombre"
                               name="nombre"
                               placeholder="Entrer le nombre de fois que vous avez tenté cet examen"
                               title="Entrer le nombre de fois que vous avez tenté cet examen"
                               type="number"
                                min="0"
                                max="5"
                                required>
                        <div class="help-block" ng-show="concoursForm.nombre.$touched" ng-messages="concoursForm.nombre.$error">
                            <p ng-message="min">Veuillez entrer une valeur possible</p>
                            <p ng-message="max">Valeur trop grande</p>
                            <p ng-message="required">Le nombre de fois  de la composition de l'examen est requit</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.numeroTransaction.$touched && concoursForm.numeroTransaction.$invalid }">
                        <label for="numeroTransaction">Numero de Transaction</label>
                        <input class="form-control"
                               ng-model="candidat.numeroTransaction"
                               id="numeroTransaction"
                               name="numeroTransaction"
                               placeholder="Entrer votre numero de transaction"
                               title="Entrer votre numero de transaction"
                               type="number"
                               ng-minlength="10"
                               ng-maxlength="30">
                        <div class="help-block" ng-show="concoursForm.numeroTransaction.$touched" ng-messages="concoursForm.numeroTransaction.$error">
                            <p ng-message="required">Le numero de transaction du  candidat est requit</p>
                            <p ng-message="minlength">La longeur du numero de transaction est trop courte</p>
                            <p ng-message="maxlength">La longeur du numero de transaction de specifie est trop long</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reference">Référence</label>
                        <input class="form-control"ng-model="candidat.reference" id="reference"
                               placeholder="Entrer vos références"
                               title="Entrer vos références"
                               type="text">
                        <div class="help-block" ng-show="concoursForm.langue.$touched" ng-messages="concoursForm.langue.$error">
                            <p ng-message="required">La langue de composition de l'examen est requit</p>
                        </div>
                    </div>
                    <h5>Information sur le Probatoire ou GCE O'level</h5>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.sessionProba.$touched && concoursForm.sessionProba.$invalid }">
                        <label for="sessionProba">Session</label>
                        <select class="form-control"
                                ng-model="candidat.sessionProbatoire"
                                id="sessionProba"
                                name="sessionProba"
                                required>
                            <option value="A">English</option>
                            <option value="F">Français</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.sessionProba.$touched" ng-messages="concoursForm.sessionProba.$error">
                            <p ng-message="required">La session est requise</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': concoursForm.sessionProba.$touched && concoursForm.optionProba.$invalid }">
                        <label for="optionProba">Option</label>
                        <select class="form-control"
                                ng-model="candidat.optionProbatoire"
                                id="optionProba"
                                name="optionProba"
                                required>
                            <option value="A">English</option>
                            <option value="F">Français</option>
                        </select>
                        <div class="help-block" ng-show="concoursForm.optionProba.$touched" ng-messages="concoursForm.optionProba.$error">
                            <p ng-message="required">L'option est requit</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="noteMathProba">Note en mathématique</label>
                        <input class="form-control"ng-model="candidat.noteMathProbatoire" id="noteMathProba"
                               placeholder="Entrer votre note en mathématique"
                               title="Entrer votre note en mathématique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="coefMathProba">Coëfficient en mathématique</label>
                        <input class="form-control"ng-model="candidat.noteMathProbatoire" id="coefMathProba"
                               placeholder="Entrer le coëfficient en mathématique"
                               title="Entrer le coëfficient en mathématique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="notePhyProba">Note en Physique</label>
                        <input class="form-control"ng-model="candidat.notePhyProbatoire" id="notePhyProba"
                               placeholder="Entrer votre note en physique"
                               title="Entrer votre note en physique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="coefPhyProba">Coëfficient en physique</label>
                        <input class="form-control"ng-model="candidat.notePhyProbatoire" id="coefPhyProba"
                               placeholder="Entrer le coëfficient en physique"
                               title="Entrer le coëfficient en physique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="villeEtaProba">Ville et établissement</label>
                        <input class="form-control"ng-model="candidat.vielleEtablissementProbatoire" id="villeEtaProba"
                               placeholder="Ex : Douala - Lycée Joss"
                               title="Entrer La ville et l'etablissement ou vous avez composé"
                               type="number">
                    </div>
                    <h5>Information sur le Baccalaureat ou GCE A'level</h5>
                    <div class="form-group">
                        <label for="sessionBac">Session</label>
                        <select class="form-control"ng-model="candidat.sessionBaccalaureat" id="sessionBac">
                            <option value="A">English</option>
                            <option value="F">Français</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="optionBac">Option</label>
                        <select class="form-control"ng-model="candidat.optionBaccalaureat" id="optionBac">
                            <option value="A">English</option>
                            <option value="F">Français</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="noteMathBac">Note en mathématique</label>
                        <input class="form-control"ng-model="candidat.noteMathBaccalaureat" id="noteMathBac"
                               placeholder="Entrer votre note en mathématique"
                               title="Entrer votre note en mathématique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="coefMathBac">Coëfficient en mathématique</label>
                        <input class="form-control"ng-model="candidat.noteMathBaccalaureat" id="coefMathBac"
                               placeholder="Entrer le coëfficient en mathématique"
                               title="Entrer le coëfficient en mathématique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="notePhyBac">Note en Physique</label>
                        <input class="form-control"ng-model="candidat.notePhyBaccalaureat" id="notePhyBac"
                               placeholder="Entrer votre note en physique"
                               title="Entrer votre note en physique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="coefPhyBac">Coëfficient en physique</label>
                        <input class="form-control"ng-model="candidat.notePhyBaccalaureat" id="coefPhyBac"
                               placeholder="Entrer le coëfficient en physique"
                               title="Entrer le coëfficient en physique"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="mentionBac">Mention</label>
                        <select class="form-control"ng-model="candidat.mentionBaccalaureat" id="mentionBac">
                            <option value="A">English</option>
                            <option value="F">Français</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="villeEtaBac">Ville et établissement</label>
                        <input class="form-control"ng-model="candidat.vielleEtablissementBaccalaureat" id="villeEtaBac"
                               placeholder="Ex : Douala - Lycée Joss"
                               title="Entrer La ville et l'etablissement ou vous avez composé"
                               type="number">
                    </div>
                    <h5>Confirmation</h5>
                    <div class="form-group">
                        <div class="col-lg-6">
                            <p>Je déclare qu'à ma connaissance toutes les indications que j'ai fournies sont correctes et complètes. Je suis informé que toute fausse déclaration ou omission entraînera le rejet de ma candidature ou l'annulation de mon admission si elle a déjà été prononcée.</p>
                            <input type="checkbox" value=""/> J'accepte les conditions
                        </div>
                        <div class="col-lg-6">
                            <p class="secu">

                                <label for="captcha">Saisir le code de securite ci dessous</label>
                                <input type="text" name="captcha" id="captcha"  />
                                <img id="siimage"  src="securimage/securimage_show.php?sid=<?php echo md5(time()) ?>" />

                                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="19" height="19" id="SecurImage_as3" align="middle">
                                    <param name="allowScriptAccess" value="sameDomain" />
                                    <param name="allowFullScreen" value="false" />
                                    <param name="movie" value="securimage_play.swf?audio=securimage_play.php&bgColor1=#777&bgColor2=#fff&iconColor=#000&roundedCorner=5" />
                                    <param name="quality" value="high" />

                                    <param name="bgcolor" value="#ffffff" />
                                    <embed src="securimage/securimage_play.swf?audio=securimage_play.php&bgColor1=#777&bgColor2=#fff&iconColor=#000&roundedCorner=5" quality="high" bgcolor="#ffffff" width="19" height="19" name="SecurImage_as3" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                                </object>




                                <!-- pass a session id to the query string of the script to prevent ie caching -->
                                <!-- -->
                                <a tabindex="-1" style="border-style: none; float : left; margin-top: 100px;margin-right:-110px" ui-sref="#" title="Refresh Image" onclick="document.getElementById('siimage').src = 'securimage/securimage_show.php?sid=' + Math.random(); return false"><img src="securimage/refresh.gif" alt="Recharger l'image" border="0" onclick="this.blur()" align="bottom" /></a>

                            </p>
                            <button type="reset" class="btn">Recommencer</button>
                            <button type="submit" class="btn">Enregistrer</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-3">
                <h5>Notice</h5>
                <p>En cas de problème dans le remplissage du formulaire, bien vouloir vous référer à <a ui-sref="notice({niveau:niveau})">la notice</a></p>
            </div>
        </div>





    </div>
</section>

