<section id="aboutUs" class="section contact-parlex">
    <div class="parlex-backs">
        <div class="container">
            <div class="row">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2 class="h1 titre">{{type}}</h2>
                </div>
            </div>
            <div class="row mrgn30">
                <form method="post"  id="contactfrm" role="form">

                    <div class="col-sm-12">

                        <div class="form-group">
                            <label for="name">Ecole</label>

                            <select ng-model="new_concours.ecole"  name="" id="" class="form-control">
                                <option value="1">ENSP</option>
                                <option value="2">FGI</option>
                                <option value="3">UIT</option>
                            </select>
                        </div> <div class="form-group">
                            <label for="name">Annee</label>

                            <datepicker>
                                <input ng-model="new_concours.annee" type="text" class="form-control" name="name" id="name"
                                       placeholder="Entrer l'annee de ce concours " title="Annee">
                            </datepicker>
                        </div>
<div class="form-group">
                            <label for="ddebut">Date Debut</label>

                            <datepicker>
                                <input ng-model="new_concours.dateDebut" type="text" class="form-control" name="name" id="ddebut"
                                       placeholder="Date de debut du concours " title="Date de debut du concours">
                            </datepicker>
                        </div>
<div class="form-group">
                            <label for="dfin">Date Fin</label>

                            <datepicker>
                                <input ng-model="new_concours.dateFin" type="text" class="form-control" name="name" id="dfin"
                                       placeholder="Date de fin du concours " title="Date de fin du concours">
                            </datepicker>
                        </div>

                        <div class="form-group">
                            <label for="arrete">Arrete</label>
                            <input ng-model="new_concours.arrete" type="url" class="form-control" name="name" id="arrete"
                                   placeholder="Entrer le lien vers l'arrete du concours" title="Entrer le lien vers l'arrete du concours">
                        </div>
                        <div class="form-group">
                            <label for="niveau">Niveau</label>
                            <input ng-model="new_concours.niveau" type="number" class="form-control" name="name" id="niveau"
                                   placeholder="Entrer le niveau de ce concours" title="Entrer le niveau  de ce concours">
                        </div>
                        <div class="form-group">
                                <label for="niveau">Nombre Candidats</label>
                                <input ng-model="new_concours.nombreCandidats" type="number" class="form-control" name="name" id="niveau"
                                       placeholder="Entrer le nombre de candidats pour  ce concours" title="Entrer le nombre de candidats pour  ce concours">
                            </div>
                        <div class="form-group">
                                <label for="niveau">Nombre Candidats Admis</label>
                                <input ng-model="new_concours.nombreCandidatsAdmin" type="number" class="form-control" name="name" id="niveau"
                                       placeholder="Entrer le nombre de candidats voulues  pour  ce concours" title="Entrer le nombre de candidats voulues  pour  ce concours">
                            </div>


                        <div class="form-group">
                            <label for="composition">Composition du Dossier</label>
                            <textarea name="comment" ng-model="new_concours.compositionDossier" class="form-control" id="composition"
                                      cols="3" rows="3" placeholder="Entrer la description de cette publication…"
                                      title="Decrire le concours)"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea ng-model="new_concours.description" name="comment" class="form-control" id="description"
                                      cols="3" rows="5" placeholder="Entrer la description de cette publication…"
                                      title="Please enter your message (at least 10 characters)"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="noteExplicative">Note Explicative</label>
                            <textarea ng-model="new_concours.noteExplicative" name="comment" class="form-control" id="noteExplicative"
                                      cols="3" rows="5" placeholder="Entrer la description de cette publication…"
                                      title="Please enter your message (at least 10 characters)"></textarea>
                            <button name="submit" ng-click="save_publication()" class="btn btn-lg btn-primary" id="submit" >Creer</button>
                        </div>

                        <div class="result"></div>
                    </div>
                </form>
            </div>
        </div>
        <!--/.container-->
    </div>
</section>