<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <title ng-bind="title +' - ENSPY'"> - MyApp</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  <script src="../js/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 8]>
  <script type="text/javascript" src="js/excanvas.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/angular-datepicker_costumize.css" media="screen" />
  <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="css/animate.css" rel="stylesheet" media="screen">
  <!-- Owl Carousel Assets -->
  <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" />
  <!-- Font Awesome -->
  <link href="font/css/font-awesome.min.css" rel="stylesheet">
  <!-- ENSP css -->

  <link rel="stylesheet" href="css/ensp.css" />
  <link rel="stylesheet" href="css/ensp-resp.css" />
  <!--<link rel="stylesheet" href="css/ensp.buils.css" />-->

  <link rel="icon" href="images/favicon.png" type="image/png" translate="none" />
    <!-- editeur  riche-->
    <link rel="stylesheet" href="../bower_components/ngWYSIWYG/css/editor.css" />
  <link rel='stylesheet' href='../bower_components/textAngular/dist/textAngular.css'>
  <link rel="stylesheet" href="css/editor.css"/>
    <link rel="stylesheet" href="css/timeline.css"/>
</head>
<body ng-app="myApp" ng-controller="headerCtrl">

  <header class="header addBg" >
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a ui-sref="accueil" ng-click="menu='logo'" class="navbar-brand scroll-top logo ensp  animated bounceInLeft">
            <b><i><img src="images/logo-ensp.png" class="logo-ensp" /></i></b>
            <span style="font-size: 16px; color: #fff;" ><strong>E</strong>cole <strong>N</strong>ationale <strong>S</strong>upérieure <strong>P</strong>olytechnique</span>
          </a>
        </div>

        <!--/.navbar-header-->
        <div id="main-nav" class="collapse navbar-collapse menu">

          <ul class="nav navbar-nav" id="mainNavs">
            <li class="row" style="margin: 0px 5px;">
              <form  method="post" class="search-form" ng-submit="recherche(mot)" style="margin-top: 30px;">
              <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" ng-model="mot" name="search" id="search" placeholder="Recherche">
                <span class="fa fa-search form-control-feedback"></span>
              </div>
            </form></li>

            <li class="dropdown" ng-class="{active : menu=='ecole'}">
              <a href="javascript:void(0);" ng-click="menu='ecole'"  class="dropdown-toggle" data-toggle="dropdown">Ecole </a>
              <ul class="dropdown-menu"style="margin-top: 7px !important;">
                <div class="">
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="presentation">Présenation de l'école</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="organisation">Organisation</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="diplome">Diplomés</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="concours">Concours</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-personnel({categorie:enseignant})">Nos enseignants</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-etudiant">Nos étudiants</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="indicateur">Nos indicateurs</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4 col-sm-4 col-md-4 col-xs-4">
                    <img src="images/gi.JPG" alt=""/>
                  </div>
                </div>


              </ul>


            </li>

            <li class="dropdown" ng-class="{active : menu=='departement'}">
              <a href="javascript:void(0);" ng-click="menu='departement'" class="dropdown-toggle" data-toggle="dropdown">Départements</a>
              <ul class="dropdown-menu">
                <div class="">
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="departement({sigle:'GC'})">Génie Civil</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="departement({sigle:'GE'})">Génie Electrique</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="departement({sigle:'GIND'})">Génie Industriel</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="departement({sigle:'MSP'})">Mathémaitques et Sciences Physiques</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="departement({sigle:'GM'})">Génie Mécanique</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="departement({sigle:'GTEL'})">Génie Télécommunication</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="departement({sigle:'GI'})">Génie Informatique</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-departement">Tous les département</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <img src="images/gi.JPG" alt=""/>
                  </div>
                </div>


              </ul>


            </li>

            <li class="dropdown" ng-class="{active : menu=='partenaire'}">
              <a href="javascript:void(0);" ng-click="menu='partenaire'" class="dropdown-toggle" data-toggle="dropdown">Partenaires</a>
              <ul class="dropdown-menu">
                <div class="">
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-partenaire">Nos partenaires</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="devenir-partenaire">Devenir partenaire</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="demander-formation">Demande d'une formation</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="offre">Offre de stage et d'emploi</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <img src="images/gi.JPG" alt=""/>
                  </div>
                </div>
              </ul>
            </li>

              <!--Recherche-->
            <li class="dropdown" ng-class="{active : menu=='recherche'}">
              <a href="javascript:void(0);" ng-click="menu='recherche'" class="dropdown-toggle" data-toggle="dropdown">Recherche</a>
              <ul class="dropdown-menu">
                <div class="">
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-laboratoire">Nos laboratoires</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-publication({categorie:'publication'})">Publications</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-article({categorie:'palmares'})">Palmarès</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a ui-sref="liste-article({categorie:'activites'})">Activités de recherche</a></li>
                  </div>
                  <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                    <img src="images/gi.JPG" alt=""/>
                  </div>
                </div>


              </ul>


            </li>

            <li class="" ng-class="{active : menu=='contact'}"><a ui-sref="menu" ng-click="menu='contact'" class="scroll-link">Contact</a></li>
            <li class=""><a data-toggle="modal" href="/#authentificationModal" class="scroll-link"><i class="fa fa-user"></i></a></li>


          </ul>

        </div>
        <!--/.navbar-collapse-->
      </nav>
      <!--/.navbar-->
    </div>
    <!--/.container-->
  </header>
  <div id="#top"></div>

  <section id="main-container" ui-view autoscroll="true"></section>

  <footer class="hide">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="col">
            <h4>Nous Contacter</h4>
            <ul class="ul-li" >
              <li>Rue Melen</li> |
              <li>Téléphone: +237 987654321 | Fax: +237 222222222 </li>
              <li>Email: <a href="mailto:info@polytechnique.cm" title="Nous ecrire">info@polytechnique.cm</a></li>
            </ul>
          </div>
        </div>


        <div class="col-md-3">
          <div class="col col-social-icons">
            <h4>Suivez nous</h4>
            <a ui-sref="menu"><i class="fa fa-facebook"></i></a>
            <a ui-sref="menu"><i class="fa fa-google-plus"></i></a>
            <a ui-sref="menu"><i class="fa fa-youtube-play"></i></a>
            <a ui-sref="menu"><i class="fa fa-twitter"></i></a>
          </div>
        </div>

      </div>

    </div>

  </footer>
  <!--/.page-section-->
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center"> &copy; Copyright  {{dateCourante | date: 'yyyy'}} | Tous Droits Réservés |
            <a ui-sref="us"> Equipe de réalisation</a> </div>
      </div>
      <!-- / .row -->
    </div>
  </section>
  <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>


  <div class="modal hide fade" id="authentificationModal">
      <form method="post" ng-submit="loggedIn()" id="contactfrm" role="form" name="userForm" novalidate>
          <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
              <h3>Authentification</h3>
          </div>
          <div class="modal-body">
              <div class="row" ng-class="{ 'has-error': userForm.login.$touched && userForm.login.$invalid }">

                  <div class="col-lg-3"><span class="bold">Login :</span></div>
                  <div class="col-lg-9">
                      <input ng-model="user.login"
                             type="text"
                             class="form-control"
                             name="login"
                             id="login"
                             placeholder="Entrez votre login ou adresse email "
                             title="Entrez votre login ou email pour vous connecter"

                             required>
                  </div>

                  <div class="help-block" ng-show="userForm.login.$touched" ng-messages="userForm.login.$error">
                      <p ng-message="required">Le login est requit</p>
                  </div>

              </div>
              <div class="row" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
                  <div class="col-lg-3"><span class="bold">Mot de passe :</span></div>
                  <div class="col-lg-9">
                      <input ng-model="user.password"
                             type="password"
                             class="form-control"
                             name="password"
                             id="password"
                             placeholder="Entrez votre mot de passe "
                             title="Entrez votre mot de passe"
                             required>
                  </div>

                  <div class="help-block" ng-show="userForm.password.$touched" ng-messages="userForm.password.$error">
                      <p ng-message="required">Le mot de passe est requit</p>
                  </div>

              </div>
          </div>
          <div class="modal-footer">
              <!--<div class="form-group" id="idsubmit">-->
                  <!--<button name="submit"-->
                          <!--class="btn btn-lg button "-->
                          <!--type="submit" ng-disabled="userForm.$invalid">-->
                      <!--Connexion-->
                  <!--</button>-->
              <!--</div>-->
              <a class="btn btn-link" data-dismiss="modal">Fermer</a>
              <button type="submit" class="btn btn-info">Connexion</button>
          </div>
      </form>
  </div>


  <script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
  <script src="js/ensp.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>
  <script src="../bower_components/angularUtils-pagination/dirPagination.js"></script>
  <script src="../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="../bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>

  <!-- ENSP Angular-->
  <script src="app.js"></script>
  <!--Module Auth-->
  <!--<script src="ensp-angular/auth/config.js"></script>-->
  <script src="ensp-angular/auth/services.js"></script>
  <script src="ensp-angular/auth/controllers.js"></script>
  <!--Module Accueil-->
  <script src="ensp-angular/accueil/config.js"></script>
  <script src="ensp-angular/accueil/services.js"></script>
  <script src="ensp-angular/accueil/controllers.js"></script>

<!--Module Publication-->
  <script src="ensp-angular/publication/config.js"></script>
  <script src="ensp-angular/publication/services.js"></script>
  <script src="ensp-angular/publication/controllers.js"></script>

  <!--Module Etudiant-->
  <script src="ensp-angular/etudiant/config.js"></script>
  <script src="ensp-angular/etudiant/services.js"></script>
  <script src="ensp-angular/etudiant/controllers.js"></script>

<!--Module Actualite-->
  <script src="ensp-angular/article/config.js"></script>
  <script src="ensp-angular/article/services.js"></script>
  <script src="ensp-angular/article/controllers.js"></script>
  <script src="ensp-angular/article/directives.js"></script>

  <!--Module Departement-->
  <script src="ensp-angular/departement/config.js"></script>
  <script src="ensp-angular/departement/services.js"></script>
  <script src="ensp-angular/departement/controllers.js"></script>

  <!--Module Indicateurs-->
  <script src="ensp-angular/indicateurs/config.js"></script>
  <script src="ensp-angular/indicateurs/services.js"></script>
  <script src="ensp-angular/indicateurs/controllers.js"></script>

  <!--Module Concours-->
  <script src="ensp-angular/concours/config.js"></script>
  <script src="ensp-angular/concours/services.js"></script>
  <script src="ensp-angular/concours/controllers.js"></script>

  <!--Module Partenaires-->
  <script src="ensp-angular/partenaires/config.js"></script>
  <script src="ensp-angular/partenaires/services.js"></script>
  <script src="ensp-angular/partenaires/controllers.js"></script>
  
  <!--Module Laboratoire-->
  <script src="ensp-angular/laboratoire/config.js"></script>
  <script src="ensp-angular/laboratoire/services.js"></script>
  <script src="ensp-angular/laboratoire/controllers.js"></script>

  <!--&lt;!&ndash;Module Diplome&ndash;&gt;-->
  <script src="ensp-angular/diplome/config.js"></script>
  <script src="ensp-angular/diplome/services.js"></script>
  <script src="ensp-angular/diplome/controllers.js"></script>

  <!--&lt;!&ndash;Module Organisation&ndash;&gt;-->
  <script src="ensp-angular/organisation/config.js"></script>
  <script src="ensp-angular/organisation/services.js"></script>
  <script src="ensp-angular/organisation/controllers.js"></script>

  <!--&lt;!&ndash;Module Personnel&ndash;&gt;-->
  <script src="ensp-angular/personnel/config.js"></script>
  <script src="ensp-angular/personnel/services.js"></script>
  <script src="ensp-angular/personnel/controllers.js"></script>

  <!--<script src="ensp-angular/ensp.built.min.js"></script>-->

  <script src="js/modernizr-latest.js"></script>
  <script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="js/jquery.nav.js" type="text/javascript"></script>
  <script src="js/jquery.fittext.js"></script>
  <script src="js/waypoints.js"></script>
  <script src="js/custom.js" type="text/javascript"></script>
  <script src="js/owl-carousel/owl.carousel.js"></script>
 <!-- editeur riche-->

  <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../bower_components/ngWYSIWYG/js/wysiwyg.js"></script>
  <script src='../bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
  <script src='../bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
  <script src='../bower_components/textAngular/dist/textAngular.min.js'></script>
  <script src="../bower_components/api-check/dist/api-check.min.js"></script>
  <script src="../bower_components/angular-formly/dist/formly.min.js"></script>
  <script src="../bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>

  <script src="js/editor.js"></script>
  <script src="js/highcharts.src.js"></script>



</body>
</html>
