
<section id="main-section" class="main-section section">
  <div class="container">
    <div class="heading text-center" style="margin-left: -25px;margin-right: -25px; background: #eee">
      <!-- Heading -->
      <h2 class="titre">Nos laboratoires de recherche</h2>
    </div>

    <!-- Article 1 -->
    <div class="">
      <input  class="form-control" style="width: 75%; float:left" type="text" ng-model="searchKey" class="form-control" placeholder="Entrer un mot-clé"/>
      <input class="form-control" style="width: 20%; float: right" type="number" placeholder="Nombre à afficher"  ng-model="par_page"/>
    </div>
    <div class="item-departement row feature design" dir-paginate="l in laboratoires |filter:searchKey | orderBy : '-nom' : true| itemsPerPage: par_page ">
        <div class="col-lg-2">
          <img src="{{host_url}}{{l.image}}" alt="laboratoire"/>
        </div>
        <div class="col-lg-10">
          <h3><a ui-sref="laboratoire({nom:l.nom})">{{l.nom}}</a></h3>
          <span class="bold">Responsable du laboratoire</span> :
          <span class="bold">{{l.responsable}}</span>
          <p>{{l.description | limitTo : 200}} ...</p>
        </div>

    </div>
    <div class="text-center" >
      <dir-pagination-controls></dir-pagination-controls>
    </div>





  </div>
</section>
