<section id="aboutUs" class="main-section section article">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">{{article.titre}}</h2>
            <p></p>
        </div>
        <div class="row feature design">
            <div class="col-lg-12 col-xs-12 col-md-12">
                <p class="ancre">
                    <a ui-sref="liste-actualite">Actualités </a>> {{article.titre}}
                </p>
            </div>
            <hr/>
        </div>

        <div class="row feature design">
            <div class="area1 columns right pos0">
                <h3>{{article.titre}}</h3>
                <p ng-bind-html="article.description"></p>
            </div>
            <div class="area2 columns feature-media left pos1">
                <div class="col-lg-12">
                    <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                        style="position: relative; height: auto;">
                        <li class="item web">
                            <figure class="effect-bubba">
                                <img src="images/{{article.image}}" alt="img02"/>
                                <figcaption>
                                    <h2>{{article.titre}}</h2>
                                    <a href="images/{{article.image}}" class="fancybox">Afficher</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row feature design" ng-repeat="p in article.parties">
            <div class="area1 columns right pos0">
                <h3>{{p.titre}}</h3>
                <p ng-bind-html="p.contenu"></p>
            </div>
            <div class="area2 columns feature-media left pos1">
                <div class="col-lg-12">
                    <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                        style="position: relative; height: auto;">
                        <li class="item web">
                            <figure class="effect-bubba">
                                <img src="images/{{p.image}}" alt="img02"/>
                                <figcaption>
                                    <h2>{{p.titre}}</h2>
                                    <a href="images/{{p.image}}" class="fancybox">Afficher</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row feature design">
            <hr/>
            <div class="col-lg-6"><span class="bold">Nombre de vue : </span>  <span class="italic" ng-bind-html="article.nbredevue"></span></div>
            <div class="col-lg-6"><span class="bold">Date de publication : </span>  <span class="italic" ng-bind-html="article.datePublication"></span></div>
        </div>
        
    </div>
</section>
