<section class="main-section section article">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">{{article.titre}}</h2>
            <p></p>
        </div>

        <!-- Article 1 -->
        <div class="row feature design">
            <div class="col-lg-12 col-xs-12 col-md-12">
                <p class="ancre">
                    <a ui-sref="liste-actualite">Actualités </a>> {{article.titre}}
                </p>
            </div>
            <hr/>
            <div class="col-lg-9 col-sm-9 col-xs-9 columns left">
                <p style="margin-bottom: 20px;">{{article.description}}</p>

            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3 columns feature-media right">
                <img src="images/min/work/7.jpg" class="col-lg-12 col-sm-12 col-xs-12" alt=""/>

            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                    style="position: relative; height: auto;">
                    <h4>Info sur l'article</h4>
                    <li class="item web">
                        <span>Nombre de vue :</span> {{article.nbredevue}}
                    </li>
                    <li class="item web">
                        <span>Publié le :</span> {{article.datePublication}}
                    </li>

                    <hr/>
                    <li class="item web">
                        <a ui-sref="liste-actualite">Plus d'actualités</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
