
<section class="main-section section contact-parlex">
    <style type="text/css">
        .ta-editor.ta-html, .ta-scroll-window.form-control,.ta-scroll-window > .ta-bind{
            min-height: 175px !important;
        }
    </style>
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2 class="h1 titre">{{type}}</h2>
            </div>
            <div class="row mrgn30">
                <form method="post" ng-submit="save_article()" id="contactfrm" role="form" name="articleForm" novalidate>

                    <div class="col-lg-9 col-md-9">
                        <h5>Informations sur l'article</h5>
                        <div class="form-group" ng-class="{ 'has-error': articleForm.name.$touched && articleForm.name.$invalid }">
                            <label for="name">Titre</label>
                            <input ng-model="new_article.titre"
                                   type="text"
                                   class="form-control"
                                   name="name"
                                   id="name"
                                   placeholder="Titre de l'article"
                                   title="Entrer le titre de l'article"
                                   ng-minlength="1"
                                   ng-maxlength="255"
                                   required>
                            <div class="help-block" ng-show="articleForm.name.$touched" ng-messages="articleForm.name.$error">
                                <p ng-message="minlength">Le titre specifié trop court</p>
                                <p ng-message="maxlength">Le titre specifié trop long</p>
                                <p ng-message="required">Le titre de l'article est requit</p>
                            </div>

                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': articleForm.categorie.$touched && articleForm.categorie.$invalid }"
                                >
                            <label for="name">Categorie</label>
                            <select class="form-control"
                                    name="categorie"
                                    ng-model="new_article.categorie"
                                    ng-options=" categorie.id as categorie.name  for categorie in categories"
                                    required>
                                <option value="">-- Choisir une categorie --</option>
                            </select>
                            <div class="help-block" ng-show="articleForm.categorie.$touched" ng-messages="articleForm.categorie.$error">
                                <p ng-message="required">La categorie de l'article est requise</p>
                            </div>


                        </div>


                        <!--<div class="form-group">
                            <textarea content-con="new_article.dupli" id="txtEditor"></textarea>
                        </div>-->

                        <!-- editor -->
                        <div class="form-group"
                             ng-repeat="pa in new_article.parties track by $index"
                             ng-class="{ 'has-error': partFieldForm.pa.$touched && partFieldForm.pa.$invalid }"
                                >
                            <ng-form name="partFieldForm">
                                <div class="btn" ng-show="$index!=0" ng-click="removepart(pa)">Retirer la partie {{ $index }}</div>
                                <h5 >Partie {{ $index +1}}</h5>
                                <label for="stitre">Titre de la partie</label>
                                <input type="text"
                                       placeholder="Entre le titre de cette partie"
                                       id="stitre" name="pa" required=""
                                       ng-model="pa.soustitre"
                                       class="form-control"/>
                                <text-angular id="editeur" ng-model="pa.contenue" required="" ></text-angular>
                                <div class="help-block" ng-show="partFieldForm.pa.$touched" ng-messages="partFieldForm.pa.$error">
                                    <p ng-message="required">Le contenue de l'article est requit</p>
                                </div>

                                <label for="catimage">Associer une imgage</label>
                                <input type="file" id="catimage" style="padding: 0px 0px 10px;" class="form-control" fileread="pa.image"/>
                            </ng-form>
                        </div>
                        <!-- /editor -->
                        <div class="form-group">
                            <!--<duplicate text="Ajouter" "></duplicate>-->
                            <div class="btn" ng-click="addpart()">Ajouter une partie à l'article</div>
                        </div>
                        <hr/>
                        <div class="form-group" id="idsubmit">
                            <button name="submit"  class="btn btn-lg btn-primary" type="submit"> Creer l'article</button>
                        </div>


                        <div class="result"></div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <h5>Articles recents</h5>
                        <div class="" dir-paginate="a in actualites |filter:searchKey | orderBy : '-datePublication' : true | itemsPerPage: par_page">
                            <div class="actu row">
                                <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                                    <img src="images/{{a.image}}" alt=""/>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                                    <h3>{{a.titre}}</h3>
                                    <p>{{a.description | limitTo : 75}}.</p>
                                    <a ui-sref="article({titre:a.titre})">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--/.container-->




</section>


