<section id="team" class="main-section section ">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">{{titre}}</h2>
            <p></p>
        </div>

        <!--  -->
        <div class="team-content">
            <div class="row actu-container">
                <div class="">
                    <input  class="form-control" style="width: 75%; float:left" type="text" ng-model="searchKey" class="form-control" placeholder="Entrer un mot-clé"/>
                    <input class="form-control" style="width: 20%; float: right" type="number" placeholder="Nombre à afficher"  ng-model="par_page"/>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4" dir-paginate="a in actualites |filter:searchKey | orderBy : '-datePublication' : true | itemsPerPage: par_page">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="{{host_url}}{{a.images[0].url}}" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>{{a.titre}}</h3>
                            <p ng-bind-html="a.description | limitTo : 75"></p>
                            <a ui-sref="article({titre:a.titre})">Lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row actu-container">
                <div class="text-center" >
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>