
    <section id="aboutUs"  class="main-section section">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2 class="titre">Présentation de l'ENSP</h2>
            </div>
            <!-- ENSP en Bref -->
            <div class="row feature design">
                <div class="area1 columns left">
                    <h3>L'ENSP en bref</h3>
                    <p>La formation à l’ENSP aujourd’hui confère aux étudiants des compétences pointues leur permettant de faire face aux défis scientifiques et technologiques majeurs qui jonchent le chemin du Cameroun vers l’émergence tout en leur inculquant des valeurs fondamentales telles l’esprit d’équipe, le professionnalisme, le travail bien fait, la tolérance. Elle est en parfaite adéquation avec les besoins exprimés par les milieux socioprofessionnels nationaux. En outre, elle comporte un socle de compétences transversales qui préparent l’étudiant à évoluer allègrement dans un environnement global multiculturel et multilingue en l’exposant en permanence et consciemment aux enjeux globaux : le changement climatique, l’énergie, l’eau, la pauvreté, les technologies de l’information et de la communication, les infrastructures. L’objectif ultime est de former des ingénieurs de conception conscients du rôle qui est le leur dans ce monde en pleine mutation.

                        En matière de recherche, elle est le centre d’une intense activité intellectuelle et d’un foisonnement de recherche, un carrefour des compétences scientifiques et techniques, un lieu d’interrogations permanentes sur le devenir technologique de la société camerounaise, un centre de ressources technologiques, un acteur essentiel dans de nombreux réseaux interuniversitaires. La diversité des initiatives encourage une fertilisation croisées des idées, des initiatives et permet de promouvoir une culture de pluridisciplinarité qui facilite à son tour l’implication de l’ENSP dans des projets nationaux de développement.
                    </p>

                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/ensp/ensp-bg.png" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/ensp/ensp-bg.png" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- Histoire -->
            <div class="row feature design">
                <div class="area1 columns right">
                    <h3>Histoire</h3>
                    <p>L’ENSP a été créée le 04 juin 1971 pour former les cadres techniques, et de développer ses recherches pour appuyer le développement du pays. Deux sortes de formations avaient été mises en place : l’une dite formation courte d’une durée de trois ans, sanctionnée par un diplôme d’ingénieur des travaux et,  l’autre dite formation longue d’une durée de cinq ans, sanctionnée par un diplôme d’ingénieur de conception. Les spécialités à l’origine étaient : en formation courte : Electronique, Electromécanique et Automatique et Génie Civil et en formation longue Génie Civil, Electromécanique
                        Depuis 1991, l’ENSP a arrêté avec la formation et a conservé uniquement la formation longue. Les cinq de formation à l’ENSP se font sur deux cycles. Le premier cycle d’une durée de deux ans offre aux étudiants un enseignement de base en mathématiques, en sciences physiques et en sciences de l’ingénieur. Le second cycle encore appelé cycle de spécialité d’une durée de trois ans forme les étudiants dans le métier. A jour l’ENSP a formé plus de 3300 ingénieurs.
                    </p>

                </div>
                <div class="area2 columns feature-media left">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/ensp/ensp-bg.png" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/ensp/ensp-bg.png" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Mission -->
            <div class="row feature design hide">
                <div class="area1 columns left">
                    <h3>Mission</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>

                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/ensp/ensp-bg.png" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/ensp/ensp-bg.png" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row dataTxt" ng-controller="ListeDepartementCtrl">
                <h3 style="margin-top: 0px;">Nos Départements</h3>
                <div class="row" ng-repeat="d in departements">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <img src="images/{{d.image[0]}}" alt="departement"/>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3><a ui-sref="departement({sigle:d.sigle})">{{d.nom}}</a></h3>
                        <span class="bold">Chef de departement</span> : <a ui-sref="personnel({prenom:d.chefDepartement.prenom,nom:d.chefDepartement.nom})"><span class="italic">{{d.chefDepartement.grade}}.</span> <span class="bold">{{d.chefDepartement.prenom}} {{d.chefDepartement.nom}}</span></a>
                        <p ng-bind-html="d.presentation | limitTo : 100"> ...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

