
    <section id="aboutUs"  class="main-section section">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2 class="titre">Présentation de l'ENSP</h2>
            </div>
            <!-- ENSP en Bref -->
            <div class="row feature design">
                <div class="area1 columns left">
                    <h3>L'ENSP en bref</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>

                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/min/work/8.jpg" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/min/work/1.jpg" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- Histoire -->
            <div class="row feature design">
                <div class="area1 columns right">
                    <h3>Histoire</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>

                </div>
                <div class="area2 columns feature-media left">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/min/work/8.jpg" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/min/work/1.jpg" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Mission -->
            <div class="row feature design">
                <div class="area1 columns left">
                    <h3>Mission</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>

                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/min/work/8.jpg" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/min/work/1.jpg" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row dataTxt" ng-controller="ListeDepartementCtrl">
                <h3 style="margin-top: 0px;">Nos Départements</h3>
                <div class="col-lg-12" ng-repeat="d in departements">
                    <div class="col-lg-2">
                        <img src="images/min/{{d.image[0]}}" alt="departement"/>
                    </div>
                    <div class="col-lg-10">
                        <h3><a ui-sref="departement({cygle:d.cygle})">{{d.nom}}</a></h3>
                        <span class="bold">Chef de departement</span> : <a ui-sref="personnel({prenom:d.chefDepartement.prenom,nom:d.chefDepartement.nom})"><span class="italic">{{d.chefDepartement.grade}}.</span> <span class="bold">{{d.chefDepartement.prenom}} {{d.chefDepartement.nom}}</span></a>
                        <p>{{d.presentation | limitTo : 200}} ...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

