
    <section id="aboutUs"  class="main-section section">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2 class="titre">{{titre}}</h2>
            </div>
            <!-- ENSP en Bref -->
            <div class="row feature design">
                <div class="area1 columns left">
                    <h3>{{presentation.titre}}</h3>
                    <p>{{presentation.description}}</p>

                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="{{host_url}}{{presentation.images[0].url}}" alt="img02"/>
                                    <figcaption>
                                        <h2>{{presentation.titre}}</h2>
                                        <a href="{{host_url}}{{presentation.images[0].url}}" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- Histoire -->
            <div class="row feature design">
                <div class="area1 columns right">
                    <h3>{{presentation.titre}}</h3>
                    <p>{{presentation.description}}</p>

                </div>
                <div class="area2 columns feature-media left">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                        <img src="{{host_url}}{{presentation.images[0].url}}" alt="img02"/>

                                    <figcaption>
                                         <h2>{{presentation.titre}}</h2>
                                        <a href="{{host_url}}{{presentation.images[0].url}}" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Mission -->
            <div class="row feature design">
                <div class="area1 columns left">
                     <h3>{{presentation.titre}}</h3>
                    <p>{{presentation.description}}</p>

                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                        <img src="{{host_url}}{{presentation.images[0].url}}" alt="img02"/>
                                    <figcaption>
                                        <h2>{{presentation.titre}}</h2>
                                        <a href="{{host_url}}{{presentation.images[0].url}}" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row dataTxt" ng-controller="ListeDepartementCtrl">
                <h3 style="margin-top: 0px;">Nos Départements</h3>
                <div  class="col-lg-12" ng-repeat="d in departements">
                    <div class="col-lg-2">
                        <img  src="{{host_url}}{{d.article_presentation.images[0].url}}" alt="departement"/>
                    </div>
                    <div class="col-lg-10">
                        <h3><a ui-sref="departement({sigle:d.sigle})">{{d.nom}}</a></h3>
                        <span class="bold">Chef de departement</span> : <a ui-sref="personnel({prenom:d.chefDepartement.prenom,nom:d.chefDepartement.nom})"><span class="italic">{{d.chefDepartement.grade}}.</span> <span class="bold">{{d.chefDepartement.prenom}} {{d.chefDepartement.nom}}</span></a>
                        <p ng-bind-html="d.presentation | limitTo : 100"> ...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

