<link rel="stylesheet" href="css/timeline.css"/>

<section class="" id="home">
    <div class="banner-container">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="images/banner-bg.jpg" alt="banner" />
                </div>
                <div class="item"><img src="images/banner-bg2.jpg" alt="banner" /></div>
                <div class="item"><img src="images/banner-bg3.jpg" alt="banner" /></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
        </div>

    </div>


</section>

<section id="aboutUs" class="page-section color">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">Actualités</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="row feature design">
                <div class="col-lg-9 col-sm-9 col-xs-9 are1 columns lesft">
                    <h3>La semaine du polytechnicien</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>

                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3 are2 columns feature-media rigsht">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/work/8.jpg" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/work/1.jpg" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <!--/.container-->
</section>
<section id="team" class=" page-section color" style="padding-top: 0px; background: #eee">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="#/liste-actualite" class="actu-plus">Plus d'actualités</a>
            </div>
        </div>
        <!-- Team Member's Details -->
        <div class="team-content">
            <div class="row actu-container">
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row actu-container">
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

<section id="agenda" class="page-section">
    <div class="container" >
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">Agenda</h2>
            <p></p>
        </div>
        <div class="row ">

            <div class="col-md-12 col-xs-12 col-sm-12 top-margin" >
                <div >
                    <ul class="timeline">

                        <li class="time-label">
                                <span class="bg-light-grey"> Novembre 2015
                                </span>
                        </li>

                        <li>
                            <i class="fa fa-envelope bg-orange"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i>&nbsp; 28 Novembre 2015</span>
                                <h3 class="timeline-header"><a href="#">Lancement de la plateforme</a></h3>
                                <div class="timeline-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eius excepturi iusto minus ratione, repellat? Adipisci aliquam dolorem doloremque, ducimus eaque fuga illo iure iusto quae tempore? Et, pariatur, reiciendis!
                                </div>
                                <div class='timeline-footer'>
                                    <a class="btn btn-primary btn-xs">Voir</a>
                                </div>
                            </div>
                        </li>

                        <li class="time-label">
                                <span class="bg-grey"> Decembre 2015
                                </span>
                        </li>

                        <li>
                            <i class="fa fa-heart bg-gray"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i>&nbsp; 19 Decembre 2015</span>
                                <h3 class="timeline-header"><a href="#">Depart en Congés de Noël.</a> Fin des cours</h3>
                                <div class="timeline-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eius excepturi iusto minus ratione, repellat? Adipisci aliquam dolorem doloremque, ducimus eaque fuga illo iure iusto quae tempore? Et, pariatur, reiciendis!
                                </div>
                                <div class='timeline-footer'>
                                    <a class="btn btn-primary btn-xs">Voir</a>
                                </div>
                            </div>
                        </li>


                        <li>
                            <i class="fa fa-clock-o"></i>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>

