<section id="personnel" class="main-section section">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">{{titre}}</h2>
            <p></p>
        </div>

        <!-- Team Member's Details -->
        <div class="team-content">
            <div class="row actu-container">
                <div class="col-lg-4 col-sm-4 col-xs-4" dir-paginate="p in personnels | orderBy : '-nom' : true | itemsPerPage: par_page">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/min/{{p.image}}" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>{{p.prenom}} {{p.nom}}</h3>
                            <p>{{p.fonction}}.</p>
                            <p>{{p.poste}}.</p>
                            <a ui-sref="personnel({prenom:p.prenom,nom:p.nom})">Visiter son espace</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row actu-container">
                <div class="text-center" >
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>