
<section class="main-section section personnel" autoscroll="true">
  <div class="container">
    <div class="heading text-center" style="margin-left: -25px;margin-right: -25px;">
      <!-- Heading -->
      <h2 class="titre">Espace de {{personnel.personne.prenomPersonne}} {{personnel.personne.nomPersonne}}</h2>
    </div>

    <!-- Article 1 -->
    <div class="row feature design">
      <p class="ancre">
        <a ui-sref="liste-personnel">Nos enseignants </a>> {{personnel.personne.prenomPersonne}} {{personnel.personne.nomPersonne}}
      </p>
      <div class="col-lg-12">
        <div class="tabbable tabs-left onglet row">
          <ul class="nav nav-tabs col-lg-2 col-sm-2 col-xs-2">
            <img src="{{personnel.image}}" style="padding: 10px;" width="100%" alt=""/>
            <li class="active"><a href="/#presentation" data-toggle="tab">Présentation</a></li>
            <li><a href="/#act" data-toggle="tab">Actualités</a></li>
            <li><a href="/#ens" data-toggle="tab">Enseignements</a></li>
            <li><a href="/#pub" data-toggle="tab">Publications</a></li>
            <li><a href="/#pro" data-toggle="tab">Projets</a></li>
            <li><a href="/#cv" data-toggle="tab">CV</a></li>
            <li><a href="/#rs" data-toggle="tab">Réseaux Sociaux</a></li>
            <li><a href="/#con" data-toggle="tab">Contact</a></li>

          </ul>

          <div class="tab-content col-lg-10 col-sm-10 col-xs-10">
            <!--Présentation-->
            <div class="tab-pane active" id="presentation">
              <h4 class="">Présentation <a href=""><i class="fa fa-edit pull-right"></i></a></h4>
              <div class="row">
                <div class="col-lg-12">
                  <p ng-bind-html="personnel.presentation"></p>
                </div>
              </div>

            </div>

            <!--mot du chef de personnel-->
            <div class="tab-pane" id="act">
              <h4 class="">Actualité <a href=""><i class="fa fa-edit pull-right"></i></a></h4>
              <div class="row">
                <div class="col-lg-12">
                  <div ng-repeat="a in personnel.actualites">

                    <p ng-bind-html="a.contenu"></p>
                    <div>Ressources :
                      <a ng-repeat="r in a.ressource" href="{{r.source}}">{{r.nom}}</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!--cours et professeur-->
            <div class="tab-pane" id="ens">
              <h4>Enseignements <a href=""><i class="fa fa-edit pull-right"></i></a></h4>
              <p ng-bind-html="personnel.enseignements"></p>

            </div>
            <!--laboratoire-->
            <div class="tab-pane" id="pub">
              <h4>Publications ({{personnel.publications.length}})<a href=""><i class="fa fa-edit pull-right"></i></a></h4>
              <div class="row">
                <div class="col-lg-12">
                  <div ng-repeat="p in personnel.publications">
                    <h5>{{p.titre}} </h5>
                      <p>
                        <i class="fa fa-angle-double-right"></i> <span ng-bind-html="p.description"></span><br/>
                        <span >Publie le : {{p.datePublication}}</span><br/>
                        <a href="{{p.lienPublication}}">lien vers la publication</a>&nbsp;
                        <a ng-repeat="r in pu.ressource" ui-sref="{{r.source}}">{{r.nom}},</a>&nbsp;
                      </p>


                  </div>
                </div>

              </div>
            </div>

            <!--Projet-->
            <div class="tab-pane" id="pro">
              <h4>Projets <a href=""><a href=""><i class="fa fa-edit pull-right"></i></a></a> <a href=""><i class="fa fa-plus  pull-right"></i></a></h4>
              <div class="col-lg-12" ng-repeat="pr in personnel.projets">
                <h5>{{pr.categorie}}</h5>

                  <div class="bold"><i class="fa fa-angle-double-right"></i> {{pr.nom}}</div>
                  <p style="padding-bottom: 0">{{pr.resume}}</p>
                  <div><span class="detail">Entreprise : </span>{{pr.entreprise}}</div>
                  <div><span class="detail">Année : </span>{{pr.datedebut}}</div>
                  <!--div><span class="detail">Lien : </span><span ng-bind-html="pr.lien"></span></div-->
                </div>
            </div>

            <div class="tab-pane" id="cv">
              <h4 class="">Curriculum Vitae <a href=""><a href=""><i class="fa fa-edit pull-right"></i></a></a></h4>
              <div class="row">
                <div class="col-lg-12">
                  <div>

                    <p>Suivez le lien ci-dessous pour consulter le cv</p>
                    <div>Ressources :
                      <a href="{{personnel.cv}}">Mon CV ({{personnel.personne.nomPersonne}})</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="tab-pane" id="rs">
              <h4 class="">Réseaux Sociaux </h4>
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-lg-3" ng-repeat="s in personnel.social">
                    <h5>{{s.reseau}} <a href=""><a href=""><i class="fa fa-edit pull-right"></i></a></a></h5>
                    <a href="{{s.lien}}"><i class="fa fa-{{s.reseau}}"></i> {{s.nom}}</a>
                  </div>
                </div>

              </div>
            </div>

            <div class="tab-pane" id="con">
              <h4 class="">Contacts</h4>
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-lg-6" ng-repeat="c in personnel.contact">
                    <h5>{{c.label}} <a href=""><a href=""><i class="fa fa-edit pull-right"></i></a></a></h5>
                    {{c.valeur}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>




  </div>
</section>
