<section id="team" class="section page-section color">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">Actualités</h2>
            <p></p>
        </div>

        <!-- Team Member's Details -->
        <div class="team-content">
            <div class="row actu-container">
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/work/7.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Une nouvelle actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="">Lire la suite</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--/.container-->
</section>