<section id="personnel" class="main-section section">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2 class="titre">Equipe de réalisation</h2>
            <p></p>
        </div>

        <!-- Team Member's Details -->
        <div class="team-content">
            <div class="row actu-container">
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/min/min/" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Stéphane Joseph TINDJOU TATODJI</h3>
                            <p>699885474 </p>
                            <p>tindjoutatodji@gmail.com</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/min/min/" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Esaïe KUITCHE KAMELA</h3>
                            <p>668841146</p>
                            <p>kuitchesaie@gmail.col</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row actu-container">
                <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/min/min/" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Franck Quentin NFOTABONG</h3>
                            <p>670021145 </p>
                            <p>nfotabong@gmail.com</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row actu-container">
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/min/min/" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Claude Edward NANDA SIME</h3>
                            <p>688442211 </p>
                            <p>nemaildeprojet@gmail.com</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="actu row">
                        <div class="col-lg-5 col-sm-5 col-xs-5 actu-image">
                            <img src="images/fomekong.jpg" alt=""/>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-xs-7  actu-detail">
                            <h3>Evaris FOMEKONG TEKATSOP</h3>
                            <p>222245484</p>
                            <p>foris@gmail.com</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>