
<section id="aboutUs" class="section contact-parlex">
    <div class="parlex-backs">
        <div class="container">
            <div class="row">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2 class="h1 titre">{{type}}</h2>
                </div>
            </div>
            <div class="row mrgn30">
                <form method="post"  id="contactfrm" role="form">

                    <div class="col-sm-9">

                        <div class="form-group">
                            <label for="name">Titre</label>
                            <input ng-model="new_article.titre" type="text" class="form-control" name="name" id="name" placeholder="Entrer le titre " title="Please enter your name (at least 2 characters)">
                        </div>

                        <div class="form-group">
                            <label for="name">Categorie</label>

                            <select ng-model="new_article.categorie"  name="" id="" class="form-control">
                                <option selected value="1">Autre</option>
                                <option value="2">Ecole</option>
                                <option value="3">Innovation</option>
                            </select>
                        </div>

                       <!-- <div class="form-group">
                            <textarea ng-model="new_article.contenue" id="txtEditor"></textarea>
                        </div>-->

                        <!-- editor -->
                        <div class="form-group hide">
                            <label for="name">Contenu</label>
                            <wysiwyg-edit content="new_article.contenuesss" class=""></wysiwyg-edit>
                        </div>
                        <!-- /editor -->
                        <div class="form-group">
                            <button name="submit" ng-click="save_article()" class="btn btn-lg btn-primary" id="submit" >Creer</button>
                        </div>


                        <div class="result"></div>
                    </div>
                </form>
            </div>
        </div>

        <!--/.container-->
    </div>



</section>


