
<section id="aboutUs" class="section contact-parlex">
    <div class="parlex-backs">
        <div class="container">
            <div class="row">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2 class="h1 titre">{{type}}</h2>
                </div>
            </div>
            <div class="row mrgn30">
                <form method="post"  id="contactfrm" role="form">

                    <div class="col-sm-9">

                        <div class="form-group">
                            <label for="name">Titre</label>
                            <input ng-model="new_article.titre" type="text" class="form-control" name="name" id="name" placeholder="Entrer le titre " title="Please enter your name (at least 2 characters)">
                        </div>

                        <div class="form-group">
                            <label for="name">Categorie</label>

                            <select ng-model="new_article.categorie"  name="" id="" class="form-control">
                                <option selected value="1">Autre</option>
                                <option value="2">Ecole</option>
                                <option value="3">Innovation</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <duplicate text="Ajouter" "></duplicate>
                        </div>
                        <!--<div class="form-group">
                            <textarea content-con="new_article.dupli" id="txtEditor"></textarea>
                        </div>-->

                        <!-- editor -->
                        <div  class="form-group" ng-repeat="p in getNumber(partie) track by $index">

                            <label for="stitre">Partie {{ $index +1}}</label><br>
                            <label for="stitre">Titre partie</label>
                            <input type="text" id="stitre" ng-model="new_article.partie.soustitre" class="form-group"/>
                            <text-angular id="editeur" ng-model="new_article.partie.contenue"></text-angular>
                            <label for="catimage">Associer une imgage</label>
                            <input type="file" id="catimage" fileread="new_article.partie.image"/>
                        </div>
                        <!-- /editor -->
                        <div class="form-group" id="idsubmit">
                            <button name="submit" ng-click="save_article()" class="btn btn-lg btn-primary" id="submit" >Creer</button>
                        </div>


                        <div class="result"></div>
                    </div>
                </form>
            </div>
        </div>

        <!--/.container-->
    </div>



</section>


