
    <section id="aboutUs" class="section">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2 class="titre">A propos de l'ENSP</h2>
                <p></p>
            </div>
            <!-- ENSP en Bref -->
            <div class="row feature design">
                <div class="area1 columns left">
                    <h3>L'ENSP en bref</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>

                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/work/8.jpg" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/work/1.jpg" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- Histoire -->
            <div class="row feature design">
                <div class="area1 columns right">
                    <h3>Histoire</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>
                    <a href="#" class="btn a">Request Quote</a>
                </div>
                <div class="area2 columns feature-media left">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/work/8.jpg" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/work/1.jpg" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Mission -->
            <div class="row feature design">
                <div class="area1 columns left">
                    <h3>Mission</h3>
                    <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et jority have suffered alteration. </p>
                    <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                        Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>
                    <a href="#" class="btn a">Request Quote</a>
                </div>
                <div class="area2 columns feature-media right">
                    <div class="col-lg-12">
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight"
                            style="position: relative; height: auto;">
                            <li class="item web">
                                <figure class="effect-bubba" id="fig1">
                                    <img src="images/work/8.jpg" alt="img02"/>
                                    <figcaption>
                                        <h2>Polytechnique Yaoundé</h2>
                                        <a href="images/work/1.jpg" class="fancybox">Afficher</a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row dataTxt">
                <div class="col-md-4 col-sm-6">

                    <h3>Nos départements</h3>
                    <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                    <ul class="listArrow">
                        <li>Mathématique et Siences Physiques</li>
                        <li>Génie Civil</li>
                        <li>Génie Electrique</li>
                        <li>Génie Industriel</li>
                        <li>Génie Informatique</li>
                        <li>Génie Mécanique</li>
                        <li>Génie Télécommunication</li>
                    </ul>
                    <!-- Accordion starts -->
                </div>

                <div class="col-md-4 col-sm-6">

                    <h3>Latest News</h3>
                    <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                    <ul  class="list3">
                        <li>Lorem ipsum dolor consectetursit</li>
                        <li>Has molestie percipit an Falli</li>
                        <li>Falli volumus efficiantur sed id</li>
                        <li>Lorem ipsum dolor consectetu</li>
                    </ul>

                    <!-- Accordion starts -->
                </div>

            </div>
        </div>
    </section>

